node_modules

.tmp
.idea
.vscode
.history
*.log
.DS_Store
*.vsix
index.draft.vue
*.draft.md
package-lock.json

packages/share/lib/*
packages/track/lib/*
packages/request/lib/*
packages/**/*.js
docs/.vitepress/cache/*